.menu {
  display: flex;
  flex-direction: column;
  position: fixed; top: 0; right: 0;
  padding: 1rem;
  margin: 1rem;
  z-index: 2;
  /* background: #232323;
  border-radius: 40px; */
}

.menu .icon {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.menu a {
  text-align: center;
}

.menu a:not(:last-child) {
  margin-bottom: 1.25rem;
}

.menu .icon:hover {
  opacity: 1;
}

.link--disabled {
  pointer-events: none;
  opacity: 0.3;
}

@media screen and (max-width: 640px) {
  .menu {
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    top: initial;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}